.full-overview {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.character-data {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.character-data > *:not(:last-child) {
  margin-bottom: 15px;
}

.character-data > .thumbnail-container > .character-thumbnail {
  display: block;
  margin: 0 auto;
}

.back-button {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 40px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid var(--black);
  transition: all ease-in-out 0.25s;
}

.back-button:hover {
  cursor: pointer;
  color: var(--white);
  background: var(--black);
  border: 2px solid var(--black);
}
