.App {
  --black: #202020;
  --white: #fefefe;
  --red: #ec1d24;
  font-size: calc(10px + 1vmin);
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--black);
  color: var(--white);
}
.App-header h1 {
  padding: 5px;
  background-color: var(--red);
}

.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
}

.App-main {
  min-height: 80vh;
  padding: 0 10vw;
  background-color: var(--white);
  color: var(--black);
}

a {
  filter: brightness(0.75);
}

a:hover {
  filter: brightness(1);
  color: var(--red);
}
